[submodule "FRI-Client-SDK_Cpp"]
	path = FRI-Client-SDK_Cpp
	url = git@github.com:cmower/FRI-Client-SDK_Cpp.git
[submodule "pybind"]
	path = pybind
	url = git@github.com:pybind/pybind11.git
[submodule "pid"]
	path = pid
	url = https://github.com/cmower/pid
